  <div class="row demo-samples">
    <div class="span4">
      <div class="mrm">
        <div >
          <input type="search" value="" placeholder="Add Subreddit r/...">
        </div>
        <ul id="subreddits">
          <li >
            <div class="subreddit-icon fui-menu-24"></div>
            <div class="">
              <h4 class="">
                <strong>ruby</strong>
              </h4>
              Times Square
            </div>
          </li>

          <li>
            <div class="subreddit-icon fui-menu-24"></div>
            <div class="">
              <h4 class="">
                <strong>javascript</strong>
              </h4>
              Skype conference an 9 am
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

